@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  font-family: 'Lato', Helvetica, sans-serif;
}

body.index > div {
  display: table;
  table-layout: fixed;
  height: 100vh;
  width: 100vw;
}

body.index > div > header,
body.index > div > article {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
}

body.index h1,
body.index h2 {
  color: rgba(0, 0, 0, .5);
  font-weight: bold;
  font-size: 5em;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

body.index > div > header h1 {
  text-transform: uppercase;
}

body.index > div > header h2 {
  font-size: 1.5em;
  text-transform: lowercase;
}

body.index > div > article {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
}

body.index > div > article > div {
  width: 50%;
  max-width: 720px;
  margin: auto;
  padding: 2em;
  background-color: rgba(255,255,255,.95);
}

body.index > div > article header h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin: 0 auto;
}

body.index > div > article header h2 {
  font-size: 0.75em;
  text-transform: none;
}

body.index > div > article section {
  margin: 3em auto 2em;
  text-align: left;
  line-height: 1.5em;
}

body.index > div > article > div > a {
  display: block;
  border: 1px solid black;
  width: 25%;
  max-width: 360px;
  padding: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
}

/* other */
.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
