@charset "utf-8";

body {
  margin: 0;
  font-family: 'Lato', Helvetica, sans-serif;
}

body h1,
body h1 a,
body h2 {
  color: rgba(0, 0, 0, .75);
  font-weight: bold;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

body.index > div > article > div,
body.article > article > header > div {
  width: 50%;
  max-width: 720px;
  margin: auto;
  padding: 2em;
  background-color: rgba(255,255,255,.90);
  box-shadow: 5px 5px 15px #888888;
}
