@charset "utf-8";

body.article > article {
  display: table;
  table-layout: fixed;
  text-align: center;
  padding-top: 3em;
}

body.article > article > header {
  display: table-cell;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100vw;
}

body.article > article > section {
  display: table-row;
}

body.article > article > section > div {
  text-align: left;
  width: 50%;
  max-width: 720px;
  margin: auto;
}

body.article > article h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin: 0 auto;
}

body.article > article h2 {
  font-size: 0.75em;
  text-transform: none;
}
