body.index > div#header h1,
body.article > div > header h1 {
  font-size: 5em;
  text-transform: uppercase;
}

body.index > div#header h2,
body.article > div > header h2 {
  font-size: 1.5em;
  text-transform: lowercase;
}

body.index > div#header h3 {
  display: none;
}

body.index > div#header.collapsed > header {
  height: auto;
}

body.index > div#header.collapsed div.float-right {
  float: right;
  padding-top: 0.5em;
}

body.index > div#header.collapsed div.float-left {
  float: left;
}

body.index > div#header.collapsed div .clear-both {
  clear: both;
}

/* Collapsed View*/
body.index > div#headerBuffer.collapsed {
  background-color: #222;
}

body.article > div,
body.index > div#header.collapsed {
  position: fixed;
  width: 100%;
  height: 3em;
  background-color: #222;
}

body.article > div > header h1,
body.article > div > header h1 a,
body.article > div > header h2,
body.index > div#header.collapsed h1,
body.index > div#header.collapsed h1 a,
body.index > div#header.collapsed h2,
body.index > div#header.collapsed h3 {
  color: rgba(255, 255, 255, .75);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  padding: 0 0.5em;
}

body.article > div > header h1,
body.index > div#header.collapsed h1 {
  display: inline;
  font-size: 2.5em;
}

body.article > div > header h2,
body.index > div#header.collapsed h2 {
  display: inline;
  font-size: 1.5em;
}

body.article > div > header h3,
body.index > div#header.collapsed h3 {
  margin-bottom: -1em;
  display: block;
  font-size: 1em;
  float:right;
}
