body.index > div#header h1,
body.article > div > header h1 {
  font-size: 8vw;
  text-transform: uppercase;
}

body.index > div#header h2,
body.article > div > header h2 {
  font-size: 4vw;
  text-transform: lowercase;
}

body.index > div#header h3 {
  display: none;
}

body.index > div#header.collapsed > header {
  height: auto;
}

body.index > div#header.collapsed div.float-right {
  float: right;
}

body.index > div#header.collapsed div.float-left {
  float: left;
}

body.index > div#header.collapsed div .clear-both {
  clear: both;
}

/* Collapsed View*/
body.index > div#headerBuffer.collapsed {
  background-color: #222;
}

body.article > div,
body.index > div#header.collapsed {
  position: fixed;
  width: 100%;
  height: 5.5vw;
  background-color: #222;
}

body.article > div > header h1,
body.article > div > header h1 a,
body.article > div > header h2,
body.index > div#header.collapsed h1,
body.index > div#header.collapsed h1 a,
body.index > div#header.collapsed h2,
body.index > div#header.collapsed h3 {
  color: rgba(255, 255, 255, .75);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  padding: 0 1vw;
}

body.article > div > header h1,
body.index > div#header.collapsed h1 {
  display: inline;
  font-size: 4.5vw;
}

body.article > div > header h2,
body.index > div#header.collapsed h2 {
  display: inline;
  font-size: 2.5vw;
}

body.article > div > header h3,
body.index > div#header.collapsed h3 {
  display: block;
  font-size: 2vw;
  float:right;
}
