@charset "utf-8";

body.index {
  display: table;
  table-layout: fixed;
}

body.index > div {
  height: 100vh;
}

/**********/
/* header */
/**********/

body.index > div#headerBuffer {
  background-color: white;
  transition: all 1.4s ease;
}

body.index > div#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 1.4s ease;
}

body.index > div > header,
body.index > div > article {
  display: table-cell;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  text-align: center;
}

/***********/
/* article */
/***********/
body.index > div > article {
  background-size: cover;
  background-position: center;
}

body.index > div > article header h1 {
  font-size: 3em;
  margin: 0 auto;
}

body.index > div > article header h2 {
  font-size: 0.75em;
  text-transform: none;
}

body.index > div > article section {
  margin: 3em auto 2em;
  text-align: left;
  line-height: 1.5em;
}

body.index > div > article > div > a {
  display: block;
  border: 1px solid black;
  width: 25%;
  max-width: 360px;
  padding: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
}
